{% extends 'base2.html.twig' %}

{% block title %}Portfolio{% endblock %}

{% block body %}




        {{ include('index_parts/navbar.html.twig') }}

        {% for user in users %}
        <div class="d-flex justify-content-around text-center mt-5">
            <div class="card-transparent mt-5" style="width: 78rem;">
                <img src="{{ user.photo }}" class="card-img-top img-thumbnail" style="max-width: 18rem;" alt="...">
                <div class="card-body">
                    <h1 class="card-title name">{{ user.firstName }} {{ user.lastName }}</h1>
                </div>
            </div>
        </div>
        {% endfor %}

        <div class="section" id="about">
            {{ include('index_parts/about.html.twig') }}
        </div>

        <hr class="mt-5">

        <div class="section" id="projects">
            {{ include('index_parts/projects.html.twig') }}
        </div>


        <hr class="mt-5">

        <div class="section" id="experiences">
            {{ include('index_parts/experiences.html.twig') }}
        </div>

        <hr class="mt-5">

        <div class="section" id="skill1">
            {{ include('index_parts/softskills.html.twig') }}
        </div>

        <hr class="mt-5">

        <div class="section" id="skill2">
            {{ include('index_parts/hardskills.html.twig') }}
        </div>

        <hr class="mt-5">

        <div class="section" id="diplomas">
            {{ include('index_parts/diplomas.html.twig') }}
        </div>

        <button onclick="topFunction()" id="topBtn" title="Go to top"><i class="fa fa-chevron-up fa-2x"></i></button>

    </div>




{% endblock %}

{% block javascripts %}

    <script type="text/javascript">

        window.onscroll = function() {scrollFunction()};

        function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("topBtn").style.display = "block";
        } else {
        document.getElementById("topBtn").style.display = "none";
        }
        }

        function topFunction() {
        window.scrollTo({top:0, behavior: "smooth"})
        }



    </script>


{% endblock %}