{% for user in users %}
<div class="container">
    <div class="card" data-aos="fade-left" data-aos-offset="10">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="card-body">
                    <div class="h4 mt-0 title">About me</div>
                    <p>{{ user.paragraph }}</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="card-body">
                    <div class="h4 mt-0 title">Informations</div>
                    <div class="row">
                        <div class="col-sm-4"><strong class="text-uppercase">Age:</strong></div>
                        <div class="col-sm-8">{{ user.age }}</div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-4"><strong class="text-uppercase"><i class="fa fa-at fa-2x"></i></strong></div>
                        <div class="col-sm-8"><a href="mailto:{{ user.email }}" target="_blank">{{ user.email }}</a></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-4"><strong class="text-uppercase"><i class="fa fa-phone fa-2x"></i></strong></div>
                        <div class="col-sm-8"><a href="tel:{{ user.phone }}">(+33) {{ user.phone }}</a></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-4"><strong class="text-uppercase"><i class="fab fa-github fa-2x"></i></strong></div>
                        <div class="col-sm-8"><a href="{{ user.github }}" target="_blank">{{ user.github }}</a></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-4"><strong class="text-uppercase"><i class="fab fa-linkedin fa-2x"></i></strong></div>
                        <div class="col-sm-8"><a href="{{ user.linkedin }}" target="_blank">{{ user.linkedin }}</a></div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-sm-4"><strong class="text-uppercase">Langues:</strong></div>
                        <div class="col-sm-8">
                            {% for language in languages %}
                                <p>{{ language.name }}</p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: {{ skill.completion }}%" aria-valuenow="{{ language.level }}" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}