{% for user in users %}
<div class="container">
    <div class="card" data-aos="zoom-in" data-aos-offset="10" data-aos-duration="500">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="card-body">
                    <div class="h4 mt-0 title">About me</div>
                    <p>{{ user.paragraph }}</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="card-body">
                    <div class="h4 mt-0 title">Informations</div>
                    <div class="row">
                        <div class="col-sm-4"><strong class="text-uppercase">Age:</strong></div>
                        <div class="col-sm-8">{{ user.age }}</div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-4"><strong class="text-uppercase"><a data-toggle="modal" data-target="#exampleModalScrollable">
                                    <i class="fa fa-at fa-2x"></i></a></strong>
                        </div>
                        <div class="col-sm-8">
                            <a data-toggle="modal" data-target="#exampleModalScrollable">
                                {{ user.email }}
                            </a>
                        </div>


                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-4"><strong class="text-uppercase"><i class="fa fa-phone fa-2x"></i></strong></div>
                        <div class="col-sm-8"><a href="tel:{{ user.phone }}">(+33) {{ user.phone }}</a></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-4"><strong class="text-uppercase"><i class="fab fa-github fa-2x"></i></strong></div>
                        <div class="col-sm-8"><a href="{{ user.github }}" target="_blank">{{ user.github }}</a></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-4"><strong class="text-uppercase"><i class="fab fa-linkedin fa-2x"></i></strong></div>
                        <div class="col-sm-8"><a href="{{ user.linkedin }}" target="_blank">{{ user.linkedin }}</a></div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-sm-4"><strong class="text-uppercase">Languages:</strong></div>
                        <div class="col-sm-8">
                            {% for language in languages %}
                                <p>{{ language.name }}</p>
                                <div class="progress">
                                    <div class="progress-bar bg-dark" role="progressbar" style="width: {{ language.level }}%" aria-valuenow="{{ language.level }}" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalScrollableTitle">Contact me</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ include('contact/_form.html.twig') }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
{% endfor %}