<div class="container">
    <div class="h4 text-center mb-4 title">Diplomas</div>
    {% for diploma in diplomas %}
        <div class="card">
            <div class="row">
                <div class="col-md-3 bg-primary">
                    <div class="card-body">
                        <p>From {{ diploma.startDate | date('m/Y') }} to {{ diploma.endDate | date('m/Y') }}</p>
                        <div class="h5">{{ diploma.location | title}}</div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <div class="h5">{{ diploma.name | title }}</div>
                        <p>{{ diploma.specialty | title }}</p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>