<div class="container">
    <div class="h4 text-center mb-4 title white">Diplomas</div>
    {% for diploma in diplomas %}
    {% if loop.index % 2 == 0 %}
        <div class="card" {#data-aos="fade-right"#}>
        {% else %}
        <div class="card" {#data-aos="fade-left"#}>
        {% endif %}
                <div class="row no-gutters">
                    <div class="col-md-3 bg-secondary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500" style="height: auto;">
                        <div class="card-body">
                            <p>From {{ diploma.startDate | date('m/Y') }} to {{ diploma.endDate | date('m/Y') }}</p>
                            <div class="h5">{{ diploma.location | title}}</div>
                        </div>
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500" style="height: auto;">
                        <div class="card-body">
                            <div class="h5">{{ diploma.name | title }}</div>
                            <p>{{ diploma.specialty | title }}</p>
                        </div>
                    </div>
                </div>
            </div>
    {% endfor %}
</div>