{% extends 'base.html.twig' %}

{% block title %}Skills index{% endblock %}

{% block body %}
<div class="container admin">

<h1>Skills index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>HardSkill</th>
                <th>SoftSkill</th>
                <th>Completion</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for skill in skills %}
            <tr>
                <td>{{ skill.id }}</td>
                <td>{{ skill.Name }}</td>
                <td>{{ skill.hardSkill ? 'Yes' : 'No' }}</td>
                <td>{{ skill.softSkill ? 'Yes' : 'No' }}</td>
                <td>{{ skill.completion }}</td>
                <td>
                    <a href="{{ path('skills_show', {'id': skill.id}) }}">show</a>
                    <a href="{{ path('skills_edit', {'id': skill.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('skills_new') }}">Create new</a>
</div>
{% endblock %}
